/*@import "variables";*/


html, body {
    margin: 0;
    padding: 0;
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

@font-face {
    font-family: Gilroy;
    src: url("../../src/static/fonts/Gilroy-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Gilroy;
    src: url("../../src/static/fonts/Gilroy-Medium.ttf");
    font-weight: 500;

}

@font-face {
    font-family: Calypso;
    src: url("../../src/static/fonts/calypso.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url("../../src/static/fonts/Montserrat-Regular.ttf");
    font-weight: 400;
}

body {
    background-color: #271E19;
}

.container {
    max-width: 1248px;
    margin: 0 auto;
    /*width: 1790px; =1750+15+15*/
    padding: 0 20px;
}

.header {
    padding-top: 30px;
    padding-bottom: 60px;

}

.header .container { /*чтобы толлько для этого действовало*/
    display: flex; /*чтобы логотипы, меню и корзина в строку все сложилось*/
    align-items: center; /*выравнивание по центру по вертикали*/
    justify-content: space-between; /*если равные отступы, Иначе только маргин лево и право*/
}

.currency {
    color: rgb(246, 226, 205);
    width: 20px;
}

.butn-lang {
    background-color: rgb(246, 226, 205);
    border: 0;
    color: black;
}

.navbar {
    position: relative;
}

.navbar-toggler {
    background-color: rgb(247, 226, 205);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    color: black;
}

.nav-link, .navbar-toggler {
    color: #F6E2CD;
    font-family: Gilroy, sans-serif;;
    font-size: 18px;
    line-height: 23px; /* 23.4px */

    text-align: center;
    box-shadow: 0px 4px 20px 0px rgba(102, 102, 102, 0.15);

}

.btn-menu {
    border: 0;
    background-color: transparent;
    color: rgb(246, 226, 205);
}

.btn-menu:focus, .btn-menu:hover, .btn-menu.active {
    text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
}

.nav-link:focus, .nav-link:hover, .navbar-nav .nav-link.active, .nav-link:active {
    color: rgb(246, 226, 205);
    box-shadow: 0px 4px 20px 0px rgba(239, 162, 4, 0.43);
    text-shadow: #fff -1px -1px 0, #333 1px 1px 0;
}

.menu-text {
    gap: 80px;
    text-align: center;
}

. menu-container {
    display: flex;
    justify-content: space-between;

}

.menu-block {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    width: 100%;
    margin: 0 auto;
}

.actions {
    position: absolute;
    top: calc(25% - 1px);
    left: calc(100% - 152px);
}

.main-info {
    background-image: url("../../src/static/images/case000big-min.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right, top;
    padding: 5px;
}

.main-info-title {
    padding-top: 109px;
    color: rgb(247, 226, 205);
    font-family: Calypso, sans-serif;;
    font-size: 77px;
    font-weight: 400;
    line-height: 85px;
    text-shadow: #fff -1px -1px 0,
    #333 1px 1px 0;
}

.main-info-text {
    color: rgb(246, 226, 205);
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    margin-bottom: 60px;
    max-width: 267px;
    text-shadow: #fff -1px -1px 0,
    #333 1px 1px 0;
}

.main-image img {

    width: 100%;
}

.butn {
    color: rgb(39, 30, 25);
    font-family: Gilroy;
    line-height: 130%;
    text-align: left;
    background: rgb(246, 226, 205);
    border: 0;
    cursor: pointer;
}

/*about*/
.about-title {
    color: rgb(247, 226, 205);
    font-family: Calypso;
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 30px;
}

.about-images img {
    max-width: 228px;
}

.owl-stage-outer {
    margin: 0 auto;
}

.owl-item {
    padding: 10px;
}

.owl-dot {
    text-align: center;
    margin: 0 auto;
}

.owl-theme .owl-dots .owl-dot span {
    border-radius: 0px;
}

.owl-dot.active {
    display: block;
    opacity: 1;
}


.about-text-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-images {
    gap: 52px;
    /*max-width: 228px;*/
}

.about-text {
    width: 368px;
    /*margin-bottom: 30px;*/
    color: rgb(246, 226, 205);
    font-size: 18px;
    line-height: 150%;
}

.about {
    padding: 80px 0 70px;
}

.gallery-items {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.catalog {
    padding: 70px 0 0;
}

.choice-title {
    color: rgb(247, 226, 205);
    font-family: Calypso;
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 50px;

}

.choice-content {
    justify-content: center;
}

.owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-text-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {

    position: absolute;
    bottom: -70px;
}

.owl-carousel .owl-nav button.owl-prev {
    left: calc(50% - 134px);
}

.owl-carousel .owl-nav button.owl-next {
    left: calc(50% + 72px);
}

.owl-carousel .owl-dots {
    position: absolute;
    bottom: -70px;
    left: calc(50% - 72px);
}

.card {
    background: rgb(246, 226, 205);
    padding: 40px;
    max-width: 368px;
    /*position: relative;*/
}

.card-title {
    color: rgb(39, 30, 25);
    font-size: 23px;
    font-weight: 500;
    line-height: 130%;
}

.butn-main-info {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 148px;
    padding: 30px 36px;
    /*box-shadow: 0px 4px 20px 0px rgba(102, 102, 102, 0.15);*/
}

.butn-main-info:hover {
    box-shadow: 0px 4px 20px 0px rgba(102, 102, 102, 0.84);
}

.butn-choice {
    font-size: 20px;
    font-weight: 500;
    /*margin-bottom: 22px;*/
    text-decoration: underline;
    padding: 30px 0 12px;
}

.money-block {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    gap: 20px;
}

.money-block-item {

}

.money-block-title {
    color: rgb(135, 115, 107);
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.value {
    box-sizing: border-box;
    border: 1px solid rgb(74, 55, 44);
    width: 100px;
    height: 50px;
    padding: 10px 13px 10px 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.value {
    padding: 2px 22px;
    display: flex;
    justify-content: space-between;
}

.value-text {
    color: rgb(109, 88, 76);
    font-size: 18px;
}

.value-change {
    color: rgb(109, 88, 76);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}

/*-------*/
.order {
    padding: 130px 0 159px;
}

.order-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.order-title {
    color: rgb(247, 226, 205);
    font-family: Calypso, sans-serif;
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 30px;
    text-shadow: #fff -1px -1px 0,
    #333 1px 1px 0;
    /*max-width: 280px;*/
}

.order-block {
    width: 380px;
    gap: 20px;
}

.order-text {
    color: rgb(246, 226, 205);
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 10px;
}

.order-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 20px 25px 20px;
    width: 100%;
    background: transparent;
    margin-top: 20px;
    color: rgb(160, 141, 131);
    font-size: 18px;
    line-height: 150%;
    box-sizing: border-box;
    border: 1px solid rgb(246, 226, 205);
}

.butn-order {
    font-size: 18px;
    width: 100%;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-image {
    margin-top: 30px;
}

.order-image img {
    max-width: 100%;
}

/*-------*/
.footer {
    padding: 60px;
    border-top: 1px solid rgb(246, 226, 205);
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-text {
    color: rgb(246, 226, 205);
    font-family: Gilroy, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

/*-------*/

.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;

}

/*.hero-category {
    position: relative;
    padding-left: 104px;
    font-size: 18px;
}

.hero-category::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    background-color: #b02a37;
    width: 72px;
    height: 2px;
}

.hero-title {
    margin-bottom: 32px;
    font-size: 88px;
    text-transform: capitalize;
}*/
.carousel-item img {
    height: 50%;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
}

.parallax-window-small {
    min-height: 300px;
    background: transparent;
}

/*parallax on css*/
.parallax {
    perspective: 1px;
    height: 50vh;
    overflow-y: auto;
}

/*Теперь удаляем внутренние элементы с классом parallax-layer из общего потока и растягиваем на всю площадь родителя.*/
.parallax-layer {
    position: absolute;
    inset: 0;
/ / вместо top, bottom, left, right: 0;
}

/*Остаётся задать смещение по оси Z. Текст будет дальше от пользователя, а фон ближе — за счёт этого мы создадим параллакс-эффект.*/
.parallax-image {
    transform: translateZ(0);
}

.parallax-text {
    transform: translateZ(-2px);
    color: orange;
    font-size: 150px;
}

/*slick*/

.about-images .slick-arrow {
    z-index: 2;
    width: 40px;
    height: 39px;
}

.about-images .slick-arrow.slick-prev {
    left: 15px;
    background: url('../src/static/images/ArrowL.png') 0 0 / 100%;
}

.about-images.slick-arrow.slick-next {
    right: 15px;
    background: url('../src/static/images/ArrowR.png') 0 0 / 100%;
}

.slick-prev:before, .slick-next:before {
    content: '';
}


/*end slick**/

@media (min-width: 500px) and (max-width: 1200px) {
    .about-content .about-images img {
        max-width: 228px;
    }
}

@media screen and (max-width: 500px) {
    .card {
        padding: 0;
    }

    .about-text {
        max-width: 368px;
        width: 100%;
    }

    .title {
        font-size: 40px;
    }

    .money-block {
        flex-wrap: wrap;
        justify-content: start;
    }

    .main-info-title {
        padding-top: 20px;
    }

    .butn-main-info {
        padding: 17px 31px;
        width: 100%;
        margin-bottom: 60px;
    }

    .main-info {
        background-image: none;
    }

}

